h1 {
    color: #114b5f;
    font-family: consolas;
    font-size: 72px;
    text-shadow: 1px 1px 1px #202020;
    }

h2 {
    color: #114b5f;
    font-family: consolas;
    font-size: 32px;
    text-shadow: 1px 1px 1px #202020;
    text-align: justify;
    padding-left: 50px;
    }

p {
    font-size: 25px;
    font-family: consolas;
    padding-left: 50px;
    padding-right: 50px;
    color: #114b5f;
	text-align: justify;
}

body {
    padding-left: auto;
    padding-right: auto;
    font-family: consolas;
    text-align: center;
    background-image: url('stars-background.jpg');
    background-attachment: fixed;
    color: #114b5f;
    }

img {
    float: left;
	padding: 5px;
	border-radius: 5px;
}

a {
    text-decoration: none;
    font-family: consolas;
    color: #114b5f;
    }

sup {
    font-size: 13px;
}

#heading {
	position: fixed;
	background-color: #030303;
	width: 100%;
	top: 0;
}

#footer {
    position: absolute;
    width: 99%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
}

li {
    float: left;
    }

li a{
    display: block;
    color: #114b5f;
    text-align: left;
    padding: 5px 25px;
    text-decoration: none;
    font-size: 27px;
    }

li a:hover {
    color: #A3BAC0;
    transform: scale(1.1);
}

a { text-decoration: none; color:#19708e; }
a:visited { text-decoration: none; }
a:focus { text-decoration: none; }

.active {
  color: #A3BAC0;
}

.btt {
	position: fixed;
	background-color: #ffffff;
	padding-bottom: 5px
}


button {
    background-color: #CA3E47;
    color: #414141;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #202020;
    font-family: consolas;
    text-align: center;
    width: 125px;
    height: 75px;
    font-size: 21px;
}

button:hover{
    transform: scale(1.2);
}

#clock {
  font-family: consolas, sans-serif;
  color: #7B9AA0;
  font-size: 56px;
  text-align: center;
  padding-bottom: -40px;
  text-shadow:1px 1px 1px #202020;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  background-color: #7B9AA0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF;
  content: "+";
  display: block;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}

#colorstrip{
	
    width: 100%; height: 5px;
    border-style: solid;
    border-color: #7B9AA0;
    background-color: #7B9AA0;
	border-radius: 10px;
}

:target {
    scroll-margin-top: 175px;
}
